// AZUL
$azure-radiance:  #009EF2;
$azure:           #395FA2;
$blue-zodiac:     #123352;
$bright-turquoise:#00C5FE;
$cerulean:        #109ad8;
$lochmara:        #0784C7;

//VERDE
$emerald:         #4ECD4E;

// CINZA
$athens-gray:     #F9FAFB;
$gallery:         #EEEEEE;
$tundora:         #444444;
$tuatara:         #3B3A38;
$silver-chalice:  #a1a1a1;
$silver:          #C0C0C0;
$mercury:         #E8E8E8;
$dusty-gray:      #999999;
$fuscous-gray:    #4C4C4B;

// AMARELO
$sea-buckthorn:   #F89F3A;
$fuel-yellow:     #EEAE1D;