.Header{
  @include transition(background-color .4s ease, height .3s ease);

  background-color: #2c2c2c;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;

  @include MQ(M) {
    border-top: 2px solid $fuel-yellow;
    box-shadow: 0;
    height: 120px;
    max-width: 1280px;
  }

  &--internal {
    @extend .Header;
  }

  &.is-scrolling,
  &--internal {
    @include MQ(maxM) {
      height: 80px;
      
      .MenuTrigger {
        top: 26px;
        width: 28px;

        span {
          height: 3px;

          &::before,
          &::after {
            height: 3px;
          }

          &::after {
            bottom: -8px;
          }

          &::before {
            top: -8px;
          }
        }
      }

      .Header__logo {
        top: 28px;
      }
    }

    @include MQ(M) {
      background-position: 0 top;
      height: 80px;

      .Menu {
        top: 10px;
      }

      .Header__logo {
        top: 12px;
      }

      .Header__img {
        display: none;

        &--small {
          display: block;
          width: 160px;
        }
      }
    }
  }

  &__logo {
    @include transition(all .4s ease);

    display: inline-block;
    left: 30px;
    position: absolute;
    top: 38px;
    width: 120px;
    z-index: 2;

    img {
      @include transition(width .4s ease);
    }

    @include MQ(M) {      
      //@include center(x);
      @include transform(none);
      @include transition(all .4s ease);
      left: 0;
      position: relative;
      padding: 0 !important;
      top: -30px;
      width: 240px;
    }
  }

  &__img {
    display: none;
    margin: 0 auto;

    @include MQ(M){
      display: block;
    }

    &--mob {
      width: 120px;
      margin-top: 30px;
      display: inline-block;
      
      @include MQ(M) {
        display: none;
      }
    }
  }

  &__img--small {
    display: none;
    margin: 0 auto;

    @include MQ(M){
      display: none;
    }
  }
}

.Menu {
  @include transform(translateX(-100%));
  @include transition(all .4s ease);
  
  background-color: #2c2c2c;
  box-shadow: 1px -3px 2px 1px rgba(0, 0, 0, .3);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;  
  visibility: hidden;
  width: calc(100% - 70px);
  z-index: 3;

  @include MQ(M) {
    @include transform(none);

    background-color: transparent;
    box-shadow: none;
    display: block;
    height: 70px;
    margin: 0 auto;
    max-width: 1080px;
    opacity: 1;
    overflow: visible;
    position: relative;
    top: 30px;
    visibility: visible;
    text-align: center;
    width: 100%;

    &__nav {
      width: 100%;
    }

    li {
      /* position: absolute;

      &:nth-child(2) {
        left: 20%;
      }

      &:nth-child(3) {
        right: 20%;
      }

      &:nth-child(4) {
        right: 0;
      } */
    }
  }

  // MODIFICADORES
  &--open{
    @include transform(translateX(0));

    opacity: 1;
    visibility: visible;
  }

  // se tiver algum submenu aberto, escurece o menu
  &--subOpen{
    background-color: darken($athens-gray, 10%);

    @include MQ(M){
      background-color: transparent;
    }
  }

  &--hasSub{
    > a{
      position: relative;

      &::after,
      &::before{
        background-color: darken($azure, 8%);
        content: "";
        display: block;
        height: 9px;
        right: 19px;
        position: absolute;
        width: 2px;
      }

      &::after{
        @include transform(rotate(45deg));
        top: 26px;
      }

      &::before{
        @include transform(rotate(-45deg));
        top: 20px;
      }

      @include MQ(M){
        &::after,
        &::before{
          display: none;
        }

        &::after{
          @include transform(none);
          @include transition(all .3s ease);
          background: transparent url(../img/icon/selected.png) no-repeat center bottom;
          background-size: cover;
          bottom: -2px;
          content: "";
          display: block;
          height: 7px;
          left: 0;
          margin: 0 auto;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          right: 0;
          top: inherit;
          width: 100%;
        }

        &.is-selected{
          position: relative;
          
          &::after{
           bottom: -5px;
           opacity: 1;
           visibility: visible;
          }
        }
      }
    }

    @include MQ(M){
      position: inherit;
    }
  }

  > ul{
    li{
      border-bottom: 1px solid $sea-buckthorn;

      @include MQ(M){
        border: 0;
        height: 70px;
      }
    }
  }

  &__nav{
    list-style: none;
    margin: 0;
    padding:  0 0 30px;

    @include MQ(M){
      display: flex;
      justify-content: space-around;
      padding: 0;
    }

    a {
      @include transition(color .3s ease);

      color: white;
      display: block;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: ls(200, 14);
      padding: 10px 0 10px 15px;
      text-decoration: none;

      @include MQ(S){
        font-size: 18px;
        letter-spacing: ls(200, 18);
        padding: 15px 0;
      }

      &:hover {
        color: $fuel-yellow;
      }
    }

    li {
      @include MQ(M) {
        display: inline-block;
        padding: 0 35px;
        text-align: center;
        vertical-align: top;

        &:first-child {
          padding-left: 0;
        }
        
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  &-sub{
    @include transform(translateX(-100%));
    @include transition(all, .6s, ease);

    background-color: $athens-gray;
    box-shadow: 1px -3px 2px 1px rgba(0, 0, 0, .3);
    height: 100%;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 95%;
    z-index: 2;

    @include MQ(M){
      @include transform(none);
      background-color: transparent;
      box-shadow: none;
      height: auto;
      position: absolute;
      left: 15px;
      top: 60px;
      width: calc(100% - 290px);

      &::after{
        @include transition(width .5s ease .15s, opacity .4s ease .1s);

        background-color: white;
        bottom: -15px;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        opacity: 0;
        width: 50%;
      }
    }

    &--subOpen{
      @include transform(translateX(0));

      opacity: 1;
      visibility: visible;

      &::after{
        opacity: 1;
        width: 100%;
      }

      li{
        @include MQ(M){ 
          @for $i from 3 through 7 {
            &:nth-child(#{$i}) { 
              transition-delay: 0.1s * ($i - 2);
              opacity: 1;
            }
          }
        }
      }
    }

    li{
      &:first-child{
        border: 0;
        color: darken($azure, 10%);
        font-size: 26px;
        margin-bottom: 30px;
        text-align: center;

        &::after{
          display: none;
        }

        @include MQ(M){
          display: none;
        }
      }

      &:nth-child(2){
        background-color: darken($athens-gray, 8%);

        a{
          font-size: 10px;
          padding: 5px 15px 5px 35px;
          position: relative;

          &::after,
          &::before{
            background-color: darken($azure, 8%);
            content: "";
            display: block;
            height: 9px;
            left: 19px;
            position: absolute;
            width: 2px;
          }

          &::after{
            @include transform(rotate(45deg));
            top: 13px;
          }

          &::before{
            @include transform(rotate(-45deg));
            top: 19px;
          }
        }

        @include MQ(M){
          display: none;
        }
      }

      @include MQ(M){
        @include transition(opacity .35s linear);
        display: inline-block;
        opacity: 0;

        a{
          font-size: 14px;
        }
      }
    }
  }

  &__info{
    padding: 30px 30px 0;

    @include MQ(M){
      display: none;
    }

    > img{
      display: block;
      width: 120px;
      margin: 0 auto;
    }

    p{
      color: $silver;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__redes {
    margin: 15px 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px;
      width: 25px;
    }
  }
}

// MENU TRIGGER

.MenuTrigger {
	@include transition(all, .3s, linear);

	display: inline-block;
	height: 25px;
	position: absolute;
	right: 25px;
	text-decoration: none;
	top: 40px;
	width: 32px;
	z-index: 2;

  @include MQ(S){
	  width: 42px;
  }

	@include MQ(M){
		display: none;
	}

	span{
		@include center;
		@include transition(all, .2s, linear);

		background-color: white;
		border-radius: 4px;
		display: block;
		height: 4px;
		position: relative;
		width: 100%;

		&::after, &::before{
			@include transition(all, .3s, linear);
			@include transform(rotate(0));

			background-color: white;
			border-radius: 4px;
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			width: 100%;
		}

		&::after{
			bottom: -10px;
		}

		&::before{
			top: -10px;			
    }
	}

	&.is-open{
		span{
			background-color: transparent  !important;

			&::before, &::after{
				background-color: white;
			}

			&:before{
				@include transform(rotate(45deg));

				top: 0  !important;
			}

			&:after{
				@include transform(rotate(-45deg));

				bottom: 0 !important;
			}
		}
	}
}