@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'elements';
@import 'header';
@import 'footer';

img{
  max-width: 100%;
}

body{
  //background-color: $mine-shaft;
  background: {
    image: url(../img/couro-pattern.jpg);
    background-repeat: repeat;
    background-position: 0 0;
  }

  &.overflowHidden{
    overflow: hidden;
  }
}

html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
  font-family: $titillium;
}

.PageWrapper {
  display: flex;  /* use the flex model */
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100%;
  overflow: hidden;
}

.PageContent{
  margin-top: 80px;
	flex: 1;
}

.Banner{
  height: 380px;
  position: relative;
  text-align: center;

  @include MQ(M){
    height: 550px;
  }

  &__item{    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;

    &::before {
      background: rgba(255,255,255,0);
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.8)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }
  }

  &__content{
    //@include center(x);
    bottom: 10%;
    padding: 0 15px;
    max-width: 90%;
    position: absolute;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;

    @include MQ(S){
      bottom: 130px;
    }

    @include MQ(M){
      @include transform(none);
      bottom: 80px;
      left: 0;
      margin: 0 auto;
      max-width: 970px;
      right: 0;
      width: 70%;
    }
  }

  h1 {
    color: $gallery;
    font-family: $titillium;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: ls(90, 24);
    line-height: 1.2;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-shadow: -3.064px 2.571px 4px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;

    @include MQ(S){
      font-size: 28px;
      letter-spacing: ls(90, 28);
    }

    @include MQ(M){
      font-size: 34px;
      letter-spacing: ls(90, 34);
    }

    span{
      color: $fuel-yellow;
    }
  }

  .u-button{
    font-weight: 700;
    margin: 30px auto 0;
    padding: 0 15px;

    @include MQ(S){
      font-size: 16px;
      max-width: 370px;
      //padding: 20px 80px;
    }

    @include MQ(M){
      //margin-top: 120px;
    }
  }

  &--internal{
    @extend .Banner;

    height: 220px;

    @include MQ(M) {
      height: 300px;
    }

    .Banner__content {
      width: 100%;
      left: 0;
    }

    h1 {
      padding-left: 20px;
      position: relative;
      text-align: left;

      &::before {
        background-color: $fuel-yellow;
        content: "";
        height: 26px;
        left: 0;
        position: absolute;
        top: 4px;
        width: 4px;
      }
    }
  }
}


.Busca{
  background-color: $tuatara;
  padding: 25px 0;
  text-align: center;

  @include MQ(S){
    padding: 45px 0;
  }

  p{
    color: $silver;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;

    @include MQ(M){
      text-align: left;
    }
  }

  .Form__control--search{
    float: none;
    margin: 10px 0;
  }

  @include MQ(M){
    .Form,
    p{
      display: inline-block;
      vertical-align: middle;
      width: inherit;
    }

    .Form__control--search{
      margin-left: 30px;
      width: 300px;
    }
  }
}



// GRID

.Grid{
  @include clearfix;
  background-color:$tuatara;

  &__item{
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid $fuel-yellow;
    float: left;
    height: 245px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::after{
      @include transition(all .3s ease);

      /* background: rgba($tuatara, .58);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; */
    }

    &::before {
      background: rgba(255,255,255,0);
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(0,0,0,0.75) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.75)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(0,0,0,0.75) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(0,0,0,0.75) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(0,0,0,0.75) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(0,0,0,0.75) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }

    &:hover{
      /* &::after{
        opacity: 0;
        visibility: hidden;
      } */

      .Grid__title{
        @include transform(translateY(-40px));
        opacity: 0;
        visibility: hidden;
      }

      .Grid__buttons{
        @include transform(translateY(0));
        opacity: 1;
        visibility: visible;
      }
    }

    &--xs{
      @extend .Grid__item;

      display: none;

      @include MQ(M){
        display: inline-block;
      }
    }

    @include MQ(S){
      width: 50%;
    }

    @include MQ(M){
      width: 25%;
    }
  }

  &__title{
    @include transition(all .3s ease);

    bottom: 0;
    color: white;
    font-family: $titillium;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.4;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;

    small{
      display: block;
      font-size: 10px;
      font-weight: normal;
    }

    @include MQ(M){
      font-size: 16px;

      small{
        font-size: 12px;
      }
    }
  }

  &__buttons{
    @include transform(translateY(50px));
    @include transition(all .4s ease);

    background: rgba($tuatara, .67);
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 20px 10px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 100%;
    z-index: 1;

    @include MQ(M){
      padding: 20px 5px;
    }

    > a {
      color: white;
      display: inline-block;
      float: left;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1;
      position: relative;
      text-decoration: none;
      width: 50%;

      &:last-child{
        &::before{
          background-color: #7d7d7b;
          content: "";
          display: inline-block;
          height: 100%;
          left: -5px;
          position: absolute;
          width: 2px;
        }
      }

      @include MQ(M){
        font-size: 16px;
      }
    }
  }
}


// Ver

.Ver{
  background-color: $tuatara;
  border-top: 1px solid $fuel-yellow;
  padding: 40px 0;

  .u-button{
    margin: 0 auto;
  }

  @include MQ(M){
    padding: 45px 0;    
  }
}


.Info{
  @include clearfix;

  &__left{
    display: none;

    @include MQ(M){
      background-size: cover;
      background: url(../img/contato.jpg) no-repeat center top;
    }
  }

  &__right{
    background: url(../img/couro.jpg) no-repeat 0 0;
    background-size: cover;
  }

  &__left,
  &__right{
    @include MQ(M){
      display: inline-block;
      float: left;
      height: 640px;
      width: 50%;
    }
  }
}

.Contato{
  padding: 30px 0;

  @include MQ(M){
    padding: 80px 12%;
  }

  h5,
  p{
    text-align: right;
    line-height: 1.4;
    letter-spacing: 1px;
  }

  h5 {
    color: $mercury;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: ls(100, 18);
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;

    @include MQ(M) {
      font-size: 22px;
      letter-spacing: ls(100, 22);
    }
  }

  p{
    font-size: 14px;
    color: $silver;
    margin: 0;

    @include MQ(M) {
      font-size: 16px;
    }
  }

  .Form{
    margin-top: 45px;
  }

}

.Map{
  @include clearfix;

  border-bottom: 1px solid $fuel-yellow;

  &__left{
    background: url(../img/couro.jpg) no-repeat 0 0;
    background-size: cover;
  }

  &__right{
    height: 400px;
  }

  &__left,
  &__right{

    @include MQ(M){
      display: inline-block;
      float: left;
      height: 640px;
      width: 50%;
    }
  }
}

.Dados{
  padding: 60px 15px;

  @include MQ(M){
    padding: 80px 12%;
  }

  ul{
    color: $mercury;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1.8px;
    line-height: 1.4;
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    padding: 0;

    @include MQ(M){
      font-size: 16px;
    }
  }

  &__logo{
    margin-bottom: 50px;
  }

  &__endereco{
    margin-bottom: 25px;
  }

  &__title{
    color: $fuel-yellow;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__social{
    li{
      display: inline-block;
      margin-right: 15px;
      vertical-align: middle;
      margin-bottom: 15px;

      @include MQ(M) {
        margin-bottom: 0;
      }
    }

    a {
      color: white;
      text-decoration: none;
    }

    img {
      width: 30px;
      height: 30px;
      display: block;
    }
  }
}

#map{
  width: 100%;
  height: 100%;
}



.Detail{
  background-color: $fuscous-gray;

  h2{
    color: $mercury;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1.4px;
    margin: 0 0 30px;
    position: relative;
    line-height: 1.2;
    text-transform: uppercase;

    span {
      font-weight: normal;
    }

    @include MQ(M){
      font-size: 32px;
    }

    @include MQ(M){
      font-size: 36px;
    }

    &::after{
      content: "";
      height: 1px;
      width: 100%;
      background-color: #796434;
      bottom: -10px;
      position: absolute;
      display: block;
    }
  }

  ul{
    font-size: 14px;
    letter-spacing: 1px;
    list-style: none;
    margin: 0;
    padding: 0;

    @include MQ(S){
      font-size: 16px;
    }
  }

  li{
    color: $mercury;
    font-weight: bold;

    span{
      color: $dusty-gray;
      font-weight: normal;
      text-transform: capitalize;
    }
  }

  &__desc {
    font-size: 16px;
    color: $dusty-gray;
    line-height: 1.5;
  }

  &__right{
    padding: 30px;
    
    @include MQ(M){
      padding: 30px 60px 0 30px;
    }
  }

  @include MQ(M){
    @include clearfix;
    //display: flex;
    display: block;
    

    &__left,
    &__right{
      // max-height: 547px;
      display: inline-block;
      float: left;
    }

    &__left{
      width: 60%;
    }

    &__right{
      width: 40%;
    }

    .u-scrollbar{
      // height: calc(547px - 330px);
      // height: 80%;
      max-height: calc(100% - 110px);

      @include MQ(M) {
        max-height: calc(100% - 720px);
      }
      
      @include MQ(L) {
        max-height: calc(100% - 450px);
      }
    }
  }
}

.Slider{
  margin-bottom: 0 !important;

  &__item{
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    border-bottom: 1px solid $fuel-yellow;

    img{
      display: none;
    }

    @include MQ(M){
      height: 440px;
    }

    @include MQ(L){
      height: 550px;
    }
  }

  &__button{
    @include center(y);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 30px;
    position: absolute;
    width: 40px;
    z-index: 1;

    &::after,
    &::before{
      background-color: $athens-gray;
      content: "";
      display: inline-block;
      height: 3px;
      position: absolute;
      width: 30px;
      border-radius: 3px;
    }

    &::after{
      top: 22px;
    }

    &::before{
      top: 2px;
    }

    &--prev{
      left: 5px;

      &::after,
      &::before{
        left: 0;
      }

      &::after{
        @include transform(rotate(45deg));
      }

      &::before{
        @include transform(rotate(-45deg));
      }
    }

    &--next{
      right: 5px;

      &::after,
      &::before{
        right: 0;
      }

      &::after{
        @include transform(rotate(-45deg));
      }

      &::before{
        @include transform(rotate(45deg));
      }
    }

    &:focus{
      outline: 0;
    }
  }
}

.SliderNav{
  &__item{
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: auto !important;
    position: relative;

    &:focus{
      outline: none;
    }

    &::before{
      @include transition(opacity .3s ease);
      
      background: rgba(#3e3d3b, .5);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
    }

    &::after{
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &.slick-current{
      &::before{
        opacity: 0;
      }
    }
  }
}

.Proposta{
  background-color: $mine-shaft;
  padding: 70px 0;

  h3 {
    color: $mercury;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: ls(140, 16);
    text-align: center;

    @include MQ(S){
      font-size: 18px;
      letter-spacing: ls(140, 18);
    }
    
    @include MQ(L){
      font-size: 20px;
      letter-spacing: ls(140, 20);
    }
  }

  .Form {
    max-width: 900px;
    margin: 0 auto;
  }

  @include MQ(M){

    .u-button{
      float: right;
      max-width: 150px;
      padding: 0;
      text-align: center;
    }
  }
}

.Generic{
  background-color: $tuatara;
  border-top: 1px solid $fuel-yellow;
  padding: 30px 0;
  text-align: center;  

  h3{
    color: $mercury;
    font-size: 16px;
    letter-spacing: 1.4px;
    line-height: 1.2;
    text-transform: uppercase;

    @include MQ(S){
      font-size: 18px;
    }
  }

  p{
    color: $mercury;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1.8px;
    line-height: 1.4;

    @include MQ(M){
      font-size: 16px;
    }
  }

  @include MQ(M){
    padding: 45px;
  }
}


.pagination {
  height: 36px;
  margin: 18px 0;

  ul{
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  li{
    display: inline;

    &:first-child{
      a{
        border-left-width: 2px;
      }
    }
  }

  a{
    border-left-width: 0; 
    border: 2px solid silver;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    color: $mercury;
    content: '';
    float: left;
    font-family: $titillium;
    font-size: 16px;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;

    &:hover{
      background-color: $fuel-yellow;
      color: $tuatara !important;
    }
  }

  .active a{
    background-color: $fuel-yellow;
    color: $tuatara !important;
    cursor: default;
  }

  .disabled{
    span,
    a,
    a:hover{
      background-color: transparent;
      color: #999999;
      cursor: default;
    }
  }

  &-centered{
    display: table;
    margin: 0 auto;
    text-align: center;
    width: auto;
  }

  &-right{
    text-align: right;
  }
}

.More{
  display: flex;
  flex-direction: column;

  @include MQ(S){
    flex-direction: row;
  }

  &__content{
    @include center;
    height: 100%;
    max-width: 320px;
    padding: 30px 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &__item{
    background-size: cover;    
    height: 360px;
    position: relative;
    text-align: center;

    @include MQ(S){
      flex: 1;
    }

    h3,
    p,
    .u-button {
      font-family: $titillium;
      font-weight: normal;
    }

    h3{
      color: white;
      font-size: 26px;
      font-weight: normal;
      letter-spacing: 1.5px;
      line-height: 1.2;
      margin: 0 0 35px;
      text-align: center;
      text-transform: uppercase;

      @include MQ(M){
        font-size: 32px;
      }
    }

    small{
      color: $mercury;
      display: block;
      font-family: $titillium;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.4;
      margin: 0 auto 45px;
      max-width: 260px;
      padding: 0 15px;
      text-align: center;
    }

    .u-button{
      bottom: 70px;
      font-size: 16px;
      font-weight: bold;
      left: 0;
      margin: 0 auto;
      max-width: 190px;
      position: absolute;
      right: 0;
    }
  }
}

.Geral {
  border-top: 1px solid $fuel-yellow;
  background-color: $mine-shaft;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 30px;

  h3 {
    color: white;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: ls(100, 22);
    margin: 0;
  }
}

.Instafeed{
	background-color: $mine-shaft;

	&__item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 182px;
    overflow: hidden;
    position: relative;
    width: calc(100% / 2);

		img{
			@include center;
			position: absolute;
			height: 100%;
			max-width: inherit;
		}

		@include MQ(S){
      height: 280px;
      width: calc(100% / 3);
    }
    
		@include MQ(M){
			width: calc(100% / 7);
		}

		&::before{
			@include transition(opacity .3s ease);
			background: black;
			content: "";
			display: block;
			height: 100%;
			left: 0;
			opacity: .4;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		&:hover{
			&::before{
				opacity: 0;
			}

			span{
				text-shadow: 1px 1px 3px rgba(black, .8);
			}
		}
	}

	&__content{
		@include center;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 1;
	}

	span{
		color: $athens-gray;
		display: block;
		font-size: 15px;
		font-weight: 900;
		margin: 5px 0;

		@include MQ(M){
			display: inline-block;

			&:last-child{
				margin-left: 25px;
			}
		}		

		&::after{
			content: "";
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
			height: 16px;
			margin-left: 5px;
			vertical-align: middle;
			width: 16px;
		}

		&.comment{
			&::after{
				background-image: url(../img/icons/comment.svg);
			}
		}

		&.like{
			&::after{
				background-image: url(../img/icons/like.svg);
			}
		}
	}
}